<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style4.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Fasthand&display=swap" rel="stylesheet">
    <title>Notes APP Home</title>
</head>
<body  >
<center>
    <div class="container">
    <h1>Notes!</h1>
    <div id="btn">
    <h2 align="center">Pen it down &#128395; </h2>
    <a class="button" href="/register" >Register</a>
   <a class="button" href="/login">Login</a>
</center>
</div>
</div> 
</body>
</html>