
body{
    font-family: 'Aoboshi One', serif;
    text-transform:capitalize ;
    background-image: url(we7.jpg );
    margin:0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
 width:100%;
 max-width: 540px;
margin:10px auto 10px ;
background:transparent;
padding: 10px 15px ;
border-radius:10px;
margin-top:0px;
padding-top:0px
}

h1{
    margin: 20px 20px;
    display:flex;
    padding: 10px 10px 10px;
    font-size: 25px;
    align-items:center;
    background-color: rgb(90, 8, 8); 
    color: beige;
    justify-content: space-between;
    flex:1;
    border-radius:5px;
    outline: none;
}
#head{
    border:none;
    outline: none;
    text-decoration: none;
    display:inline;
    color: rgb(255, 255, 255);
    padding: .5em;
    border-radius: 5px;
   background-color: brown;
   
}
ul{
    padding: 5px;
    padding-top: 0%;
}

#list li { background: rgb(248, 245, 245); }
#list li:nth-child(odd) { background:linear-gradient(100deg, rgb(202, 120, 120),beige); }

#list li{
    align-content: center;  
    border-radius:5px;
    color: rgb(16, 7, 7);
   padding: 5px 10px;
   list-style: none;
   margin: 5px;
}

#list a{
    display:block;
    text-decoration: none;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
    color:black;
    border-radius: 2px;
    padding: 10px;

}
#usermsg{
 font-family:'Fasthand', cursive;;
    font-size: 80px;
    display: block;
    margin: 20px;
    font-weight: bold;
    color:hwb(0 0% 100%);
    border-radius: 20%;
}
#msg2{
    font-size: 40px;
}


#success{

    font-size: 15px;
    background-color: rgb(75, 214, 119);
    color: white;
    width:500px;
    border-radius:5%;
   
}
#error{

    font-size: 15px;
    background-color: rgb(214, 75, 75);
    color: white;
    width:500px;
    border-radius:5%;
   
}

body {
    font-family: 'Roboto', sans-serif;

  }
  
  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: rgb(67, 7, 3);
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }
  .delo{
   
    border-radius: 5px;
     background:linear-gradient(100deg, rgb(144, 31, 23),rgb(177, 73, 68)); 
   
  }
.delo a,button{
    display: block;
    all:unset;
    border:none;
    outline: none;
    text-decoration: none;
    color:white;
    padding: auto 2px;
    cursor: pointer;

    }