
body{
    text-align:center;
    font-family: 'Aoboshi One', serif;
    background-image: url(we7.jpg );
    margin:0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .container{
    text-transform: capitalize;
     width:100%;
     max-width: 540px;
     margin:10px auto 10px ;
     background:transparent;
     padding: 10px 15px ;
     border-radius:10px;

}

h1{ 
    text-align: center;
    width:450px;
    display:flex;
    padding: 10px 24px 12px 10px;
    font-size: 40px;
    align-items:center;
    background:linear-gradient(100deg, rgb(16, 26, 48), rgba(141, 196, 77, 0.902)); 
    color: beige;
    justify-content:center;
    flex:1;
    border-radius:5px;
    outline: none;
   
}


.button{
    cursor: pointer;
    border:none;
    outline: none;
    text-decoration: none;
    display:block;
    color: rgb(255, 255, 255);
    margin:30px;
    padding:10px 85px;
    border:2px solid beige;
    border-radius: 5px;
    background-color: rgba(141, 196, 77, 0.902);
    font-size:20px;
    font-weight:bold ;
}
h2{
    font-family:'Fasthand', cursive;;
    font-size: 40px;
}
#btn{
    margin:40px;
    margin-top: 10px;
    
    padding: 8px 15%;
    height:300px;
    width:290px;
    background-color:rgba(141, 196, 77, 0.4);
    display: block;
    cursor: pointer;
}
input{
    display: flex;
    flex:content;
    font-size: 20px;
    outline: 0;
    border:0
}
label{
    font-size: 20px;
    font-weight: 20%;
}
#submit{
    cursor: pointer;
    border:none;
    outline: none;
    text-decoration: none;
    display:block;
    color: rgb(255, 255, 255);
    padding:5px 50px;
    border:2px solid beige;
    border-radius: 5px;
    background-color: rgba(141, 196, 77, 0.902);
    font-size:20px;
    font-weight:bold ;

}

#btn2{
    margin-left: 8em;
    margin-top:-1.85em ;
    padding:5px;
}
h5{
    color: red;
  text-align: center;
}