<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/style5.css" rel="stylesheet" type="text/css" />
    <title>Error</title>
</head>
<body >
    <div  class="div1" >
        <div class="div2">
            <h1>ERROR !!
            </h1>
         <h3><%=err.statusCode%>   <%=err.message%>  </h3>
      
        
     </div>
     </div>
       
</body>
</html>